body {
    background-image:url('../img/plano-de-fundo-legal.jpg');
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style:none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    color: teal;
    text-decoration: underline;
  }
  
  .site-title, .site-subtitle {
    text-align: center;
    color: whitesmoke;
  }
  
  .site-subtitle{
    font-style: italic;
  }
